.devices {
	padding: 11.1rem 0 0;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(217, 217, 217, 0.9);
		z-index: 1;
	}
	.main-title {
		.title {
			margin-bottom: 8.5rem;
		}
	}
	.devices-content {
		position: relative;
		z-index: 5;
		.devices-lg {
			margin-left: 10%;
			margin-bottom: 0;
			@include media-breakpoint-down(md) {
				margin: 0 auto;
			}
			@include media-breakpoint-up(lg) {
				margin-bottom: -5.2rem;
				margin-left: 28%;
			}
		}
	}
}
