.hero {
	padding: 21px 0 16px;
	position: relative;
	&.visual {
		height: 100vh;
		display: flex;
		align-items: flex-end;
	}
	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: linear-gradient( 0deg, rgb(252,227,138) 0%, rgb(243,129,129) 100%);
		z-index: 1;
		opacity: 0.9;
	}
	.hero-content {
		position: relative;
		z-index: 2;
		text-align: center;
		color: $white;
	}
	p.sup-title {
		font-size: 3rem;
		font-family: $kaushanscript;
		line-height: 1.2;
		// margin-bottom: 3.5rem;
		margin-bottom: 3.5vh;
		text-transform: capitalize;
		@include media-breakpoint-up(md) {
			font-size: 7.2rem;
		}
	}
	h1 {
		text-transform: uppercase;
		position: relative;
		line-height: 0.93;
		max-width: 79%;
		margin: 0 auto;
		font-size: 5rem;
		// margin-bottom: 11.4rem;
		margin-bottom: 11.4vh;
		letter-spacing: -0.5rem;
		@include after-title-line;
		&:before {
			background-color: $white;
			bottom: -60px;
		}
		@include media-breakpoint-up(md) {
			font-size: 80px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 150px;
		}
	}
	a {
		display: inline-block;
		font-size: $font-size-secondary;
		letter-spacing: 0.01rem;
		padding: 0.6rem 3.3rem;
		border: 0.3rem solid $white;
		text-transform: uppercase;
		// margin-bottom: 15.5rem;
		margin-bottom: 15.5vh;
	}
	.steps {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		font-family: $montserrat;
		font-size: 16px;
		text-transform: uppercase;
		.steps-item {
			position: relative;
			width: 48%;
			padding: 5px 0 0;
			margin-bottom: 5px;
			border-top: 3px solid $white;
			text-align: left;
			letter-spacing: 1px;
			span{
				font-size: 2.4rem;
				font-weight: bold;
			}

			&:first-child{
				&:before {
					content: '';
					width: 7rem;
					height: 0.3rem;
					background-color: $pink;
					position: absolute;
					top: -0.3rem;
					left: 0;
				}
			}
		}
		@include media-breakpoint-up(md) {
			flex-wrap: nowrap;
			.steps-item {
				width: 22.8%;
				padding: 15px 0 0;
				margin-bottom: 0;
			}
		}
	}
}
