.latest-blog {
	padding: 3.5rem 0 3.5rem;
	@include media-breakpoint-up(md) {
		padding: 11.1rem 0 11.1rem;
	}
	.main-title {
		h2 {
			margin-bottom: 8.6rem;
		}
	}
	.post {
		.thumbnail {
			position: relative;
			margin-bottom: 1.7rem;
			img {
				width: 100%;
			}
			.post-time {
				position: absolute;
				bottom: 1rem;
				left: -1rem;
				padding: 0.5rem 1.5rem 1rem;
				background: $blue;
				display: flex;
				flex-direction: column;
				align-items: center;
				font-family: $montserrat;
				color: $white;
				.date {
					font-size: 3rem;
					// font-weight: bold;
					line-height: 1.2;
				}
				.month {
					font-size: 1.5rem;
					line-height: 1.2;
				}
			}
		}
		.entry-title {
			color: $dark;
			text-transform: uppercase;
			margin-bottom: 1.2rem;
			letter-spacing: -0.0357em;
		}
		.post-excerpt {
			padding-bottom: 1.5rem;
			border-bottom: 0.1rem solid $light-gray;
			margin-bottom: 1.5rem;
		}
		.reaction {
			display: flex;
			align-items: center;
			.comments {
				margin-left: 1.8rem;
			}
		}
		@include media-breakpoint-down(md) {
			margin-bottom: 2rem;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
